@media (max-width: 940px) {

    .flex {
        flex-direction: column;
        align-items: center;
    }

    .grid-container,
    form {
        width: 80%;
        max-width: 400px;
    }

    div.grid-container {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 1px;
        margin-top: 20px;
    }

    .wrapper {
        padding-bottom: 100px;
        width: 95%;
    }

}

@media (max-width: 768px) {
    .grid-container,
    form {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .grid-container,
    form {
        width: 100%;
    }

    body {
        font-size: 1.4rem;
    }
}

