.grid-container {
  display: grid;
  grid-template-rows: 98px;
  grid-template-columns: 200px 200px;
  grid-row-gap: 54px;
  grid-auto-rows: 50px;
  border: 10px solid var(--turquoise);
  background-color: #ffffff;
  padding-bottom: 10px;
  align-items: center;
  text-align: center;
}

.grid-container p {
    margin: 0 10px;
}

h3 {
  margin-top: 27px;
}

.goodTime {
  color: green;
}

.badTime {
  color: red;
}