header, footer {
  width: 100%;
  background-color: #c4c4c4;
  text-align: center;
}
header h1 {
  display: flex;
  justify-content: space-between;
}
.intro {
  display: flex;
}
.intro-text {
  width: 40%;
}